@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: #282a36;
  min-height: 100vh;
  display: flex;
  padding: 1rem;
}

form {
  padding: 2rem;
  background-color: #6272a4;
  margin: auto;
  display: flex;
  border-radius: 0.3rem;

  input {
    background-color: #f8f8f2;
    border: none;
    border-radius: inherit;
    font-size: 1.5rem;
    margin: auto;
    width: 400px;
    padding: 0.4rem;
    font-family: inherit;
  }
}

pre {
  margin: auto;
  max-width: 700px;
  padding: 1rem;
  font-family: inherit;
  overflow: auto;
  background-color: #6272a4;
  color: #ff79c6;
  border-radius: 0.3rem;
  cursor: pointer;
  &:active {
    background-color: #44475a;
  }
}

.loading-circle {
  margin: auto;
  display: inline-block;
  transform: translateZ(1px);
}

.loading-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #ff79c6;
  animation: loading-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loading-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
